<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather API</title>
</head>
<body>
    <h1>Weather Data API</h1>
    <h3>URL query format</h3>
    <p>URL format: http://127.0.0.1:5002/api/v1/station/date/</p>
    <h3>Get data from a particular station and date</h3>
    <p>URL example: http://127.0.0.1:5002/api/v1/10/1993-07-26</p>
    <h3>Get data from one station for all dates</h3>
    <p>URL example: http://127.0.0.1:5002/api/v1/10</p>
    <h3>Get data for one year on one station</h3>
    <p>URL example: http://127.0.0.1:5002/api/v1/yearly/10/1967</p>
    <p>{{data|safe}}</p>
</body>
